# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Codeblocks folders for compilation

SPYROpenGL/obj/
SPYROpenGL/bin/

# Codeblocks user files

SPYROpenGL/*.layout
SPYROpenGL/*.depend

# Backup files when merging
SPYROpenGL/**/*.orig

desktop.ini
